
<link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/css/modern-business.css" rel="stylesheet">


<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" @Html.ActionLink("Home", "Index", "Home")</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("Stores", "Index", "stores")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("Sales", "Index", "sales")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("Discounts", "Index", "discounts")</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Human Resourses
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" @Html.ActionLink("Authors", "Index", "authors")</a>
                        <a class="dropdown-item" @Html.ActionLink("Publishers", "Index", "publishers")</a>
                        <a class="dropdown-item" @Html.ActionLink("Employees", "Index", "employees")</a>
                        <a class="dropdown-item" @Html.ActionLink("Jobs", "Index", "jobs")</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tools
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" @Html.ActionLink("Request1", "Index", "ContactInfo")</a>
                        <a class="dropdown-item" @Html.ActionLink("Request2", "Index", "Orders")</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Other Pages
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
                        <a class="dropdown-item" @Html.ActionLink("Royscheds ", "Index", "royscheds")</a>
                        <a class="dropdown-item" @Html.ActionLink("Titleauthors", "Index", "titleauthors")</a>
                        <a class="dropdown-item" @Html.ActionLink("Pub info", "Index", "pub_info")</a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="~/Content/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
